*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
li{
	float: left;
	display: block;
}
header{
    width: 1000px;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	margin: auto;
	position: relative;
	
}
header .img{
	position: absolute;
	left: 0;
	
}
header nav{
	position: absolute;
	right: 0;
}
header nav ul li{
	
	width: 100px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	border-left: 1px solid rgba(225,225,225,.5);
}
header nav ul li:nth-child(5){
	border-right: 1px solid rgba(225,225,225,.5);
}
header nav .move{
	position: absolute;
	left: 0;
	top: 0;
	height: 5px;
	width: 100px;
	background-color: red;
	transition:  left .3;
}
header nav ul li:nth-child(2):hover ~ .move{
	left: 100px;
}
header nav ul li:nth-child(3):hover ~ .move{
	left: 200px;
}
header nav ul li:nth-child(4):hover ~ .move{
	left: 300px;
}
header nav ul li:nth-child(5):hover ~ .move{
	left: 400px;
}