*{
	box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #fff;
}

body{
	max-height: 1400px;
	font-family: "微软雅黑",simhei;
}
header .container{
	position: relative;
	max-width: 1200px;
	margin: auto;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0px;
	
	transition: background-color .5s,padding .5s;
	z-index: 999;
	
}
header.on{
	padding: 3px 0px;
	background-color:rgba(0,0,0,.8);
}
header .topMenu a{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
header .topMenu a:hover{
	color: #339BEB;
}
header .logo{
	float: left;
}
header .logo span,
header .logo img{
	vertical-align: middle;
}
header .logo span{
	font-size: 3em;
	font-family: 'Dancing Script', cursive;
	color: #fff;
}
header .topMenu{
	float: right;
	margin-top: 5px;
}
header .topMenu ul li{
	float: left;
	margin: 0px 30px;
}

.banner{
	background: url(../img/banner.jpg) no-repeat center top;
	min-height: 600px;
	
	line-height: 1.5;
	
	background-size: cover;
}
.banner .container{
	width: 800px;
	height: 180px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.banner .container h1{
	text-align: center;
}
.banner .container h1 strong{
	color: #339BEB;
}.banner .container p strong{
	background-color:rgba(255,255,255,.5);
	color:#000;
	padding: 3px;
	font-weight: normal;
}
section h2{
	text-align: center;
	margin-top: 50px;
}
section h2+p{
	text-align: center;
	margin-bottom: 80px;
}
.about{
	min-height: 600px;
}
.about .img img{
	float: left;
	width: 48%;
	
}
.about .note{
	float: right;
	width: 48%;
}
.about .note p{
	line-height: 2;
	margin: 20px 0px;
}
.about .note p:first-child{
	margin-top: 0px;
}
.about .note ol{
	list-style: none;
	line-height: 2;
	padding: 0;
	counter-reset: liCounter;
}
.about .note li{
	counter-increment: liCounter;
}
.about .note li::before{
	
	content: counter(liCounter);
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
	border: 1px dashed #000;
	margin-right: 10px;
	transition: transform .5s;
}
.about .note li:hover::before{
	transform: translate(10px);
}