*{
	box-sizing: border-box;
}
body{
	background:url(../img/1.jpg) no-repeat;
	background-size: cover;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.wrapper{
	max-width: 1200px;
	margin:auto
}
ul{
	list-style-type: none;
	padding: 0;
	position: absolute;
	padding: 20px;
	top: 0;
	right: 0;
}
header{
	margin: 40px 0;
	position: relative;
}
.logo h1{
	display: none;
}
.logo img{
	width: 60px;
	height: auto;
}
li{
	float: left;
	margin: 20px 40px;
}
li a{
	text-decoration: none;
	color: pink;
	padding: 20px;
}
h2{
	margin: 50px 0;
	color: pink;
	font-size: 30px;
}
p{
	color: lightblue;
}
li a{
	padding: 20px;
	border: 1px solid transparent;
	transition: color .5s,border .5s;
}
li a:hover{
	color: lightblue;
	border: 1px solid lightblue;
}